**/*.class

# Package Files #
*.jar
*.war
*.ear

# Directories #
.settings/*
target/*
test-output/*

# auto ganerated file by http://marketplace.eclipse.org/content/github-flavored-markdown-viewer-plugin-eclipse
.README.md.html